<main class="container">
  <aside>
    <nav>
      <ul>
        <% DB.tables.each do |table_name| %>
          <li><a href="/<%= table_name %>"><%= table_name %></a></li>
        <% end %>
      </ul>
    </nav>
  </aside>
  <div role="document">
    <h1>API docs</h1>
  </div>
</main>
